*{
  margin: 0;
  padding:  0;
}

.btn {
  padding: 10px 20px;
  margin: 10px;
  background-color: royalblue;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover {
  background-color: darkblue;
}
